html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* Global Styles Start Here */
html {
    font-family: 'Offside', cursive;
    font-family: 'Barlow', sans-serif;
    font-size: 62.5%;
    margin: 0 auto;
}

.wrapper {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 6.88rem;
    line-height: 6.37rem;
    letter-spacing: 0.8px;
    color: #fff;
    width: 550px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #2C2D2C;
}

button {
    font-family: 'Offside', cursive;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 29px;
    color: #D6F1E4;
    background-color: #116500;
    border: 1px solid #fff;
    padding: 10px 30px;
}

/* Skip-line for accessibility */
.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}
/* - */

/* Global Styles Ends Here */


/* Header Styles Starts Here */
header {
    background-image: url(./Panda-Sanctuary-assets/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90vh;
    position: relative;
}

/* Hamburber menu for the mobile version */
.main-nav i {
    font-size: 1.5rem;
    position: absolute;
    visibility: hidden;
    top: 2%;
    right: 10%;
}
/* - */

.logo {
    font-family: 'Offside', cursive;
    font-size: 2rem;
    color: #fff;
    width: 120px;
    padding: 10px 0;
    margin: 0;
    float: left;
}

nav ul {
    float: right;
    padding-top: 15px;
}

nav li {
    float: left;
    line-height: 2.9rem;
}

nav a {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.9rem;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    padding-bottom: 0;
    margin-left: 20px;
    border-bottom: 3px solid transparent;
    transition: 0.2s;
}

nav a:last-child {
    padding-right: 0;
}

nav a:hover {
    border-bottom: 3px solid #116500;
}

.headline h1 {
    margin: 0;
    padding-top: 10%;
}   

.social {
    right: 0;
    top: 60px;
    padding: 5% 2% 0 0;
    position: absolute;
}

.social a {
    text-decoration: none;
}

.social i {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    display: block;
    padding: 6px;
    transition: 0.2s;
}

.social i:hover {
    color: #116500;
    transform: scale(1.3);
}
/* Header Styles Ends Here */


/* /* - Main Styles Starts Here - */ */

/* About Styles Ends Here */
.about {
    background-color: #d6f1e4;
}

.tittle {
    font-family: 'Offside', cursive;
    font-size: 4.2rem;
    font-weight: 300;
    text-align: center;
    color: #116500;
    margin: 0;
    padding: 60px 0;
}

.gallery li {
    float: left;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 80px;
}

.gallery li:nth-of-type(3) {
    margin-right: 0;
}

figure {
    float: left;
    max-width: 30%;
    margin: 0;
    padding-bottom: 80px;
}

.side {
    float: left;
    max-width: calc(70% - 40px);
    margin-left: 40px;
}

.side button {
    transition: 0.2s;
}

.side button:hover {
    background-color: #D6F1E4;
    border: 1px solid #116500;
    color: #213C28;
}

.sub-tittle {
    font-family: 'Offside', cursive;
    font-size: 4.2rem;
    font-weight: 300;
    color: #116500;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

.side p,
.pandas-description p,
.marco-now p {
    margin: 0;
    padding-bottom: 30px;
}
/* About Styles Ends Here */


/* Blog Styles Starts Here */
.blog {
    background-color: #213C28;
}

.pandas-container {
    margin: 0;
    padding: 0;
}

.blog h2,
.blog p {
    color: #fff;
}

.blog h2 {
    padding: 60px 0;
}

.blog p {
    width: 95%;
    margin: 0;
    padding-bottom: 60px;
}

.blog button {
    background-color: #fff;
    color: #116500;
    transition: 0.25s;
}

.blog button:hover {
    background-color: #116500;
    color: #fff;
}

.pandas-description {
    float: left;
    width: calc(50% - 12.5%);
    margin-left: 12.5%;
}

.pandas img {
    float: right;
    width: 50%;
}

.marco-description {
    float: right;
    width: calc(50% - 12.5%);
    margin-right: 12.5%;
    padding-left: 60px;
}

.marco-now img {
    float: left;
    width: 50%;
}
/* Blog Styles Ends Here */


/* Icon Styles Start Here */
.icons-container {
    background: #D6F1E4;
    padding: 40px 0;
}

.icons i {
    font-size: 4.5rem;
    color: #213C28;
    transition: 0.25s;
}

.icons i:hover {
    color: #116500;
}

.icons a {
    text-decoration: none;
}

.icons h4 {
    font-family: 'Offside', cursive;
    font-size: 2rem;
    font-weight: 300;
    color: #116500;
    transition: 0.25s;
}

.icons h4:hover {
    color: #2C2D2C;
}

.logos {
    float: left;
    width: calc(100% / 3);
    text-align: center;
    transition: 0.25;
}

.logos:hover {
    transform: scale(1.1);
}

.logos:nth-of-type(3) {
    margin-right: 0;
}
/* Icon Styles Ends Here */


/* Footer Styles Starts Here */
footer {
    background-color: #213C28;
}

.footer-container {
    padding: 60px 0;
}

footer h2,
footer a {
    font-family: 'Offside', cursive;
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    margin: 0;
    margin-bottom: 10px;
}

footer h2 {
    font-size: 3rem;
}

footer a {
    text-decoration: none;
}

footer p {
    color: #fff;
    margin: 0;
    padding-bottom: 10px;
}

.newsletter {
    float: left;
    width: calc(50% - 10px);
    margin-right: 5px;
}

.contact {
    float: left;
    width: calc(40% - 10px);
    margin-right: 5px;
}

.links {
    float: left;
    width: 10%;
    margin-right: 0;
}

.newsletter h2,
.contact h2,
.links a {
    width: 70%;
    border-bottom: 4px solid transparent;
    transition: 0.25s;
}

.newsletter h2:hover,
.contact h2:hover,
.links a:hover {
    width: 50%;
    border-bottom: 4px solid #116500;
}

input[type="email"] {
    font-size: 1.5rem;
    width: 70%;
    padding: 5px;
    padding-left: 20px;
}

button[type="submit"] {
    font-family: 'Offside', cursive;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    background-color: #2C2D2C;
    border: none;
    padding: 3px 18px;
    transition: 0.2s;
}

button[type="submit"]:hover {
    background-color: #116500;
}

.links ul li {
    text-align: right;
    padding: 8px 0;
}

.sub-footer {
    background-color: #2C2D2C;
}

.copy p {
    text-align: center;
    padding: 6px;
}
/* Footer styles Ends Here */


/* - RESPONSIVE DESIGN STARTS BELOW - */

/* Bring the text on mobile to left and not center */

@media (max-width: 1350px) {
    .headline h1 {
        font-size: 4.88rem;
    }

    .about figure,
    .side {
        float: none;
        margin: 0 auto;
    }

    .side {
        text-align: center;
    }

    .side button {
        margin-bottom: 40px;
    }

    .social {
        float: left;
        margin-left: 12.5%;
        padding-top: 30%;
    }

    .social i {
        visibility: hidden;
        display: none;
    }
}

@media (max-width: 1300px) {
    .pandas-description,
    .pandas img,
    .marco-now img,
    .marco-description {
        float: none;
    }

    .pandas-description,
    .marco-description {
        text-align: center;
        margin: 0 auto;
        width: 60%;
    }

    .pandas img,
    .marco-now img {
        margin: 0 auto;
        width: 80%;
    }

    .pandas-container {
        position: relative;
    }

    .pandas-description {
        padding-top: 60%;
    }

    .pandas {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .pandas-container button {
        margin-bottom: 60px;
    }
}

@media (max-width: 950px){
    .main-nav i {
        display: block;
        font-size: 3.5rem;
        visibility: visible;
        color: #fff;
    }

    header nav,
    .social i {
        display: none;
    }

    .headline h1 {
        font-size: 3.88rem;
        max-width: 300px;
    }

    #about > div:nth-child(1) > div:nth-child(3) > figure:nth-child(1) {
        max-width: 100%;
        margin-left: 30%;
    }
}

@media (max-width: 880px){
    .logo {
        font-size: 1.5rem;
    }

    .main-nav i {
        top: 1%;
    }
    
    .gallery li {
        width: calc((100% - 40px) / 2);
        margin-right: 20px;
        margin-bottom: 60px;
    }

    .gallery li:nth-of-type(2) {
        float: right;
        margin-right: 0;
    }

    .gallery li:nth-of-type(3) {
        width: 100%;
        margin-bottom: 20px;
    }

    .gallery > li:nth-child(3) > img:nth-child(1) {
        width: 100%;
    }
    
    .about .sub-tittle {
        font-size: 3.2rem;
    }

    .side p,
    footer p {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    header {
        background-position: 70% 50%;
    }

    .side {
        display: inline-block;
        max-width: 100%;
    }

    .pandas-description,
    .marco-description {
        width: 80%;
    }

    .marco-description {
        padding-left: 0;
    }
    
    .side p,
    .pandas-description p,
    .marco-description p {
        font-size: 1.6rem;
        max-width: 90%;
        margin: 0 auto;
    }

    .about figure {
        display: none;
    }

    .newsletter {
        float: none;
        padding-bottom: 40px;
    }

    .newsletter {
        width: 100%;
    }

    .contact {
        width: calc(70% - 10px);
    }

    .links {
        width: 30%;
    }
}

@media (max-width: 766px) {
    /* header {
        background-size: 100% 100%;
    } */
}

@media (max-width: 575px) {
    .side p {
        margin: 0;
        text-align: left;
    }

    .pandas-description {
        padding-top: 70%;
    }

    .pandas-description p,
    .marco-description p {
        margin: 0;
        text-align: left;
    }

    .pandas > img:nth-child(1),
    .marco-now > img:nth-child(1) {
        margin: 0;
        width: 100%;
    }

    input[type="email"] {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    button[type="submit"] {
        width: 40%;
        margin-left: 30%;
    }

    .icons {
        text-align: center;
    }

    .logos {
        float: none;
        width: 100%;
    }
    
    .logos i {
        font-size: 7rem;
    }

    .newsletter h2, 
    .newsletter p {
        text-align: center;
        margin: 0 auto;
    }
}

/* End of Responsive Queries */